<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%='hello world'.toUpperCase() %>
            <%=4 + 5 + 1%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, consectetur ratione dolorum ipsam nihil omnis vel
        veniam laboriosam natus totam libero repellat? Minus placeat sint nobis mollitia quas quis rem.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nisi explicabo maiores nemo nulla, autem
        consequuntur, ex ipsum, quo minima atque? Neque suscipit laboriosam doloribus obcaecati minima dolore officiis
        quidem.
        Dolores, consequuntur nobis nemo similique eius illo modi labore aliquid! Obcaecati eum quia atque nobis, maxime
        accusantium culpa in ea sed similique vero placeat aliquid repellendus ex doloribus molestias unde?
        Culpa, consectetur. Rerum asperiores, commodi dicta illo iste excepturi totam quam, sapiente magni reiciendis
        suscipit? Minima reiciendis mollitia nobis, eum voluptate delectus ipsa aliquid officia fugiat cupiditate odit
        placeat quod.
    </p>

</body>

</html>